In [1]:
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","PySpark","Spark","Spark"],
    'Fee' :[20000,25000,26000,22000,25000,20000,35000],
    'Duration':['30day','40days','35days','40days','60days','60days','70days'],
    'Discount':[1000,2300,1200,2500,2000,2000,3000]
              }

df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000   35days      1200
3   Python  22000   40days      2500
4  PySpark  25000   60days      2000
5    Spark  20000   60days      2000
6    Spark  35000   70days      3000

In [3]:

# Groupby multiple columns
result = df.groupby(['Courses','Fee']).count()
print(result)

               Duration  Discount
Courses Fee
Hadoop  26000         1         1
PySpark 25000         2         2
Python  22000         1         1
Spark   20000         2         2
        35000         1         1

In [4]:
data = df.groupby(['Courses','Fee']).max()

In [5]:
data

              Duration  Discount
Courses Fee
Hadoop  26000   35days      1200
PySpark 25000   60days      2300
Python  22000   40days      2500
Spark   20000   60days      2000
        35000   70days      3000

In [6]:
df.head()

   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000   35days      1200
3   Python  22000   40days      2500
4  PySpark  25000   60days      2000

In [7]:
result = df.groupby(['Courses','Fee'])['Courses'].count()
print(result)

Courses  Fee
Hadoop   26000    1
PySpark  25000    2
Python   22000    1
Spark    20000    2
         35000    1
Name: Courses, dtype: int64

In [8]:
result = df.groupby('Courses')['Fee'].aggregate(['min','max'])
print(result)

           min    max
Courses
Hadoop   26000  26000
PySpark  25000  25000
Python   22000  22000
Spark    20000  35000

In [9]:
df.head(10)

   Courses    Fee Duration  Discount
0    Spark  20000    30day      1000
1  PySpark  25000   40days      2300
2   Hadoop  26000   35days      1200
3   Python  22000   40days      2500
4  PySpark  25000   60days      2000
5    Spark  20000   60days      2000
6    Spark  35000   70days      3000

In [10]:
result = df.groupby('Courses').aggregate({'Duration':'count','Fee':['min','max']})
print(result)

        Duration    Fee
           count    min    max
Courses
Hadoop         1  26000  26000
PySpark        2  25000  25000
Python         1  22000  22000
Spark          3  20000  35000

In [15]:
data = df.groupby('Duration').aggregate({'Fee':'mean'})

In [16]:
data

              Fee
Duration
30day     20000.0
35days    26000.0
40days    23500.0
60days    22500.0
70days    35000.0